<h1 class="container col-md-6 col-md-offset-3" style="text-align: center;">Flatiron Ember Book Store</h1>
<div class="container col-md-6 col-md-offset-3" style="text-align: center;" id="books">
  <p>{{#link-to 'books'}}View all our amazing books!{{/link-to}}</p>
</div>

{{outlet}}
