<h1 class="container col-md-6 col-md-offset-3" style="text-align: center;">Flatiron Ember Book Store</h1>
<div class="container col-md-6 col-md-offset-3" style="text-align: center;" id="books">
  <p>View all our amazing books!</p>
</div>

{{outlet}}
