<div class="container col-md-8 col-md-offset-2">
  
  <button class="btn btn-info"{{action 'viewMore'}}>View Book Details</button>
  <br>
  <ul class="list-group">
  
    <li class="list-group-item">
      <h3>Book Title Belongs Here</h3> 
      
      <li class="book-item">author: </li>
      <li class="book-item">description: </li>
      
    </li>
 
  </ul>
</div>


   
